.Main{
    padding: 20px;
        .btn-close{
            padding: 10px;
            background:rgb(255, 39, 39);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 0 0 20px 0;
        }
            .container{
                display: grid;
                grid-template-columns: repeat(
                    auto-fit,
                    minmax(
                        300px,
                        1fr
                    )
                    );
                    gap:1rem;
                    .card{
                        background: grey;
                        border-radius: 5px;
                        padding: 20px;
                        h2{
                            color: white;
                        }
                    }
            }
}
